<footer class="main-footer">
    <div class="main-container">
        <div class="footer">
            <div class="footer1">
                <div class="footer2">
                    <h3>HISTORIA</h3>
                    <div>
                        <p>
                            <li>Ubicacion</li>
                            <label>Av. Mercedes Indacochea N° 609</label>
                            <li>Atencion</li>
                            <label>8:00am – 5:00pm</label>
                            <li>Telefono</li>
                            <label>78755467</label>
                            <li>Correo</li>
                            <label>rev.energiaandina@gmail.com</label>
                        </p>
                    </div>
                </div>
                <div class="footer2">
                    <h3>HORIZONTE MEDIO</h3>
                    <div>
                        <p>
                            <li>Ubicacion</li>
                            <label>Av. Mercedes Indacochea N° 609</label>
                            <li>Atencion</li>
                            <label>8:00am – 5:00pm</label>
                            <li>Telefono</li>
                            <label>78755467</label>
                            <li>Correo</li>
                            <label>rev.energiaandina@gmail.com</label>
                        </p>
                    </div>
                </div>
                <div class="footer2 ">
                    <h3>CONTACTO DIRECCION</h3>
                    <div>
                        <p>
                            <li>Ubicacion</li>
                            <label>Av. Mercedes Indacochea N° 609</label>
                            <li>Atencion</li>
                            <label>8:00am – 5:00pm</label>
                            <li>Telefono</li>
                            <label>78755467</label>
                            <li>Correo</li>
                            <label>rev.energiaandina@gmail.com</label>
                        </p>
                    </div>
                </div>
                <div class="footer2">
                    <h3>SUSCRIBETE</h3>
                    <div>
                        <p>
                            <li>Ubicacion</li>
                            <label>Av. Mercedes Indacochea N° 609</label>
                            <li>Atencion</li>
                            <label>8:00am – 5:00pm</label>
                            <li>Telefono</li>
                            <label>78755467</label>
                            <li>Correo</li>
                            <label>rev.energiaandina@gmail.com</label>
                        </p>
                    </div>
                </div>
            </div>
            <div class="sociales">
                <div class="sociles1">
                    <div class="face"><a href="#"><i class="margin fab fa-facebook-f" aria-hidden="true"></i></a></div>
                    <div class="twiter"><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></div>
                    <div class="mail"><a href="#"><i class="gmail fas fa-envelope-square" aria-hidden="true"></i></a></div>
                    <div class="insta"><a href="#"><i class="inst fab fa-instagram" aria-hidden="true"></i></a></div>
                </div>
            </div>
            <p class="copi-rigth">Copyright © Revista Eneria Andina. todos los derchos reservados. <br>
                Design - Template</p>
        </div>
    </div>
</footer>